{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/base/base-protocol.html" %}

{% from "macros-protocol.html" import split, picto with context %}

{% block page_title %}Hello world{% endblock %}
{% block page_desc %}This is only a test.{% endblock %}

{% block page_css %}
  {{ css_bundle('newbies') }}
{% endblock %}

{% block content %}
  {% call split(
    image_url='img/firefox/browsers/quantum/browser.jpg',
    include_highres_image=True,
    block_class='mzp-t-split-nospace',
    theme_class='mzp-l-split-center-on-sm-md',
  ) %}
    <h1 class="title">Variant A</h1>
    <p class="tagline">Look at my fancy tagline.</p>
    <p class="cta"><button class="mzp-c-button">Call to Action</button></p>
  {% endcall %}

<section class="mzp-l-content mzp-t-content-lg">
  <ul class="mzp-l-columns mzp-t-columns-three">
    {% call picto(
      title='Lorem ipsum dolor sit amet',
      image_url='protocol/img/icons/brand/blue/microchip.svg',
      body=True,
    ) %}
      <p>Vim te liber semper, ius aliquip fabulas denique an.</p>
    {% endcall %}

    {% call picto(
      title='Pro libris volumus posidonium',
      image_url='protocol/img/icons/brand/pink/mountain.svg',
      body=True,
    ) %}
      <p>Maiorum feugait ad sed. No principes necessitatibus cum, vel ei dicat docendi.</p>
    {% endcall %}

    {% call picto(
      title='Dicam detraxit senserit eos',
      image_url='protocol/img/icons/brand/violet/key.svg',
      body=True,
    ) %}
      <p>Melius dolorem fastidii te quo, erat dicit latine id vel.</p>
    {% endcall %}
  </ul>
</section>
{% endblock %}
